<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
    .contant {
        flex-direction: row-reverse;
    }
    .fimg video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .picture video{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    .head{
        position: fixed;
        top: 11%;
        background-color: #fff;
    }
    .suggested{
        margin-top: 60px;
    }
    #mydrive{
      margin-top: 15px;
       background-color: #c3e6ff;
   }
   .suggested .fimg{
    /* background-color: red; */
    height: 20px;
    width: 20px;
   }
   .suggested .fimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }
   /* #upldp{
    padding-left: 10px;
    padding-right: 10px;
   } */
   .upldrow .r{
    /* background-color: teal; */
    width: 65% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
   }
   .upldrow .l{
    /* background-color: teal; */
    width: 35% !important;
    padding-left: 5px;
   }
   
   .unav .l{
    width: 35% !important;
   }
   .unav .r{
    width: 42% !important;
    padding-right: 40px;
    padding-left: 15px;
    display: flex;
    align-items: center !important;
    padding: initial !important;
    justify-content: space-between !important;
    padding-left: 15px !important;
    /* background-color: rebeccapurple; */
   }
   .fimg #obj{
     width: 10px;
     height: 100;
     object-fit: cover;
   }
   .Video_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      background-color: #a09c9cca;
      height: 50px !important;
      width: 50px !important;
      display: flex;
      border-radius: 50% !important;
      align-items: center;
      justify-content: center;
   }
   .Video_icon i {
      color: #fff;
      font-size: 30px ;
   }
   
   .picture{
    position: relative !important;
   }
   
   .empty_div{
      height: 80vh;
      padding-right: 150px;
   }
  
</style>

<body>
    <div id="main">
        <% include ./partials/nav.ejs %>
        <div class="contant">
            <% if((user.posts.length === 0)&&(user.folder.length === 0)){ %>
                <div class="empty_div">
                    <h6>A place for all of your files</h6>
                     <div class="emptyimg">
                          <img src="https://ssl.gstatic.com/docs/doclist/images/empty_state_my_drive.png" alt="">
                     </div>
                            <p>Drag files here to add them to My Drive.</p>
                </div>
          <% }else{ %>
            <div class="right_contant">
                
                <div class="head">
                    <div class="md">
                        <h3>My Drive</h3>
                        <i class="ri-arrow-down-s-fill"></i>
                    </div>
                    <div class="svgs">
                        <svg class="a-s-fa-Ha-pa c-qd" width="24px" height="24px" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M2,5v14h20V5H2z M14,7v4h-4V7H14z M4,7h4v4H4V7z M16,11V7h4v4H16z M4,17v-4h4v4H4z M10,17v-4h4v4H10z M20,17 h-4v-4h4V17z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                        <svg class="a-s-fa-Ha-pa c-qd" width="24px" height="24px" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="suggested">
                    <h6>suggested</h6>
                    <div class="divs">
                    <%  userPics.forEach(function(sug){ %>
                        <div class="div">
                            <div class="dicon">
                                <% if(sug.ext==="jpg" ){ %>
                                    <div class="fimg">
                                        <a href="#">
                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/image/jpeg" alt="">
                                        </a>
                                    </div>
                                    <% } %>
                                    <% if(sug.ext==="png" ){ %>
                                        <div class="fimg">
                                            <a href="#">
                                                <img src="https://drive-thirdparty.googleusercontent.com/32/type/image/jpeg" alt="">
                                            </a>
                                        </div>
                                        <% } %>
                                    <% if(sug.ext==="mp4" ){ %>
                                        <div class="fimg">
                                            <a href="#">
                                                <img src="https://drive-thirdparty.googleusercontent.com/32/type/video/mp4" alt="">
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(sug.ext==="txt" ){ %>
                                            <div class="fimg">
                                                    <a href="#">
                                                        <img src="https://drive-thirdparty.googleusercontent.com/32/type/text/plain"
                                                            alt="">
                                                    </a>
                                            </div>
                                            <% } %>
                                                <% if(sug.ext==="pdf" ){ %>
                                                    <div class="fimg">
                                                        <a href="#">
                                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/application/pdf"
                                                                alt="">
                                                        </a>
                                                    </div>
                                                <% } %>
                                
                                <h6><%= sug.originalName %></h6>
                            </div>
                            <div class="picture">
                                <% if(sug.ext==="jpg" ){ %>
                                    <img src="<%= sug.pic %>" alt="">
                                    <% } %>
                                    <% if(sug.ext==="png" ){ %>
                                        <img src="<%= sug.pic %>" alt="">
                                        <% } %>
                                    <% if(sug.ext==="mp4" ){ %>
                                        <video src="<%= sug.pic %>"></video>
                                        <div class="Video_icon">
                                            <i class="ri-play-fill"></i>
                                        </div>
                                    <% } %>
                                    <% if(sug.ext === "txt"){ %>
                                        <div class="fimg">
                                            <a href="#">
                                                <iframe src="<%= sug.pic %>" frameborder="0"></iframe>
                                            </a>
                                        </div>
                                    <% } %>
                                    <% if(sug.ext === "pdf"){ %>
                                        <div class="fimg">
                                            <!-- <a href="#">
                                                <object id="obj" data="<%= sug.pic %>" type="application/pdf">
                                            </a> -->
                                        </div>
                                    <% } %>
                            </div>
                            <p>You opened in the past week</p>
                        </div>
                    <% }) %>
                    </div>
                </div>
                
                <div class="uploads">
                    <div class="unav">
                        <div class="l">
                            <h6>Name</h6>
                        </div>
                        <div class="r">
                            <h6>Owner</h6>
                            <div class="lm">
                                <h6>Last modified</h6>
                                <i class="ri-arrow-down-s-fill"></i>
                            </div>
                            <div class="fs">
                                <h6>File size</h6>
                            </div>
                        </div>
                    </div>

                    <% user.folder.forEach(function(folder){ %>
                        <% var update=folder.updatedAt %> 
                        <% dateString=update.toDateString(); %>
                            <div class="upldrow">
                                 <% if(user.starredFolder.indexOf(folder._id)===-1){ %>
                                    <div class="l">
                                        <div class="fimg">
                                            <a href="#">
                                                <svg height="24px" width="24px" focusable="false" viewBox="0 0 24 24"
                                                    fill="#5f6368" class="a-s-fa-Ha-pa">
                                                    <g>
                                                        <path
                                                            d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
                                                        </path>
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                        <h6>
                                            <%= folder.folderName %>
                                        </h6>
                                    </div>
                                    <%}else{ %>
                                        <div class="l">
                                            <div class="fimg">
                                                <a href="#">
                                                    <svg height="24px" width="24px" focusable="false" viewBox="0 0 24 24"
                                                        fill="#5f6368" class="a-s-fa-Ha-pa">
                                                        <g>
                                                            <path
                                                                d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
                                                            </path>
                                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                            <h6>
                                                <%= folder.folderName %>
                                            </h6>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    <% } %>
                                            <div class="r">
                                                <h6>me</h6>
                                                <h6 id="h6a">
                                                    <%= dateString %>
                                                </h6>
                                                <div class="fs">
                                                    <h6 id="h6a">------ </h6>
                                                </div>
                                                <div class="hover_div">
                                                    <a href="/folders/<%= folder.folderName  %>">
                                                        <i class="ri-user-shared-line"></i>
                                                    </a>
                                                    <i class="ri-download-2-fill"></i>
                                                    <a href="/updateFolder/<%= folder._id %>">
                                                        <i id="updtF" class="ri-edit-line"></i>
                                                    </a>
                                                    <div class="stars">
                                                        <% if(user.starredFolder.indexOf(folder._id)===-1){ %>
                                                            <a id="star" href="/starredfolder/<%= folder._id %>">
                                                                <i class="ri-star-line"></i>
                                                            </a>
                                                            <% } else{ %>
                                                                <a href="/remove/starredfolder/<%= folder._id %>">
                                                                    <i class="ri-star-fill"></i>
                                                                </a>
                                                                <% } %>
                                                    </div>
                                                    <a href="/trashfolder/<%= folder._id %>"><i
                                                            class="ri-delete-bin-line"></i></a>
                                                </div>
                                            </div>
                            </div>

                        <% }) %>
                            <% var strg=0; %>
                                <% userM.posts.reverse().forEach(function(file){ %>
                                    <% var update=file.updatedAt %> 
                                        <% var fs=((file.picSize / (1024 ** 2)).toFixed(1)) %>
                                            <% dateString=update.toDateString(); %>
                                                    <div id="upldp" class="upldrow" >
                                                      <% if(user.starred.indexOf(file._id)===-1){ %>
                                                        <div class="l">
                                                            <% if(file.ext==="jpg" ){ %>
                                                                <div class="fimg">
                                                                        <img src="<%= file.pic %>" alt="">
                                                                </div>
                                                                <% } %>
                                                                <% if(file.ext==="webp" ){ %>
                                                                    <div class="fimg">
                                                                            <img src="<%= file.pic %>" alt="">
                                                                    </div>
                                                                    <% } %>
                                                                <% if(file.ext==="png" ){ %>
                                                                    <div class="fimg">
                                                                            <img src="<%= file.pic %>" alt="">
                                                                    </div>
                                                                    <% } %>
                                                                <% if(file.ext==="mp4" ){ %>
                                                                    <div class="fimg">
                                                                            <video src="<%= file.pic %>"></video>
                                                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/video/mp4" alt="">
                                                                    </div>
                                                                    <% } %>
                                                                    <% if(file.ext==="txt" ){ %>
                                                                        <div class="fimg">
                                                                                    <img src="https://drive-thirdparty.googleusercontent.com/32/type/text/plain"
                                                                                        alt="">
                                                                        </div>
                                                                        <% } %>
                                                                            <% if(file.ext==="pdf" ){ %>
                                                                                <div class="fimg">
                                                                                        <img src="https://drive-thirdparty.googleusercontent.com/32/type/application/pdf"
                                                                                            alt="">
                                                                                </div>
                                                                                <% } %>
                                                    
                                                    
                                                                                    <h6>
                                                                                        <%= file.originalName %>
                                                                                    </h6>
                                                        </div>
                                                    
                                                        <%}else{ %>
                                                            <div class="l">
                                                                <% if(file.ext==="jpg" ){ %>
                                                                    <div class="fimg">
                                                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/image/jpeg" alt="">
                                                                    </div>
                                                                    <% } %>
                                                                    <% if(file.ext==="png" ){ %>
                                                                        <div class="fimg">
                                                                                <img src="https://drive-thirdparty.googleusercontent.com/32/type/image/jpeg" alt="">
                                                                        </div>
                                                                        <% } %>
                                                                    <% if(file.ext==="mp4" ){ %>
                                                                        <div class="fimg">
                                                                                <img src="https://drive-thirdparty.googleusercontent.com/32/type/video/mp4" alt="">
                                                                        </div>
                                                                        <% } %>
                                                                        <% if(file.ext==="txt" ){ %>
                                                                            <div class="fimg">
                                                                                        <img src="https://drive-thirdparty.googleusercontent.com/32/type/text/plain"
                                                                                            alt="">
                                                                            </div>
                                                                            <% } %>
                                                                                <% if(file.ext==="pdf" ){ %>
                                                                                    <div class="fimg">
                                                                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/application/pdf"
                                                                                                alt="">
                                                                                    </div>
                                                                                    <% } %>
                                                                                                <h6>
                                                                                                    <%= file.originalName
                                                                                                        %>
                                                                                                </h6>
                                                                                                <i
                                                                                                    class="ri-star-fill"></i>
                                                            </div>
                                                            <% } %>
                                                            <div class="r">
                                                                <h6>me</h6>
                                                                <h6 id="h6a">
                                                                    <%= dateString %>
                                                                </h6>
                                                                <div class="fs">
                                                                    <% strg +=file.picSize %>
                                                                        <h6 id="h6a">
                                                                            <%= fs %> MB
                                                                        </h6>
                                                                </div>
                                                                <div class="hover_div">
                                                                    <a href="/starimg/<%= file._id %>">
                                                                        <i class="ri-user-shared-line"></i>
                                                                    </a>
                                                                            <a href="/details/<%= file._id %>">
                                                                                <i class="ri-download-2-fill"></i>
                                                                            </a>
                                                                    <a href="/updatePost/<%= file._id %>">
                                                                        <i class="ri-edit-line"></i>    
                                                                    </a>
                                                                    <div class="stars">
                                                                        <% if(user.starred.indexOf(file._id)===-1){
                                                                            %>
                                                                            <a id="star"
                                                                                href="/starred/<%= file._id%>">
                                                                                <i class="ri-star-line"></i>
                                                                            </a>
                                                                            <% } else{ %>
                                                                                <a
                                                                                    href="/remove/starred/<%= file._id %>">
                                                                                    <i class="ri-star-fill"></i>
                                                                                </a>
                                                                                <% } %>
                                                                    </div>
                                                                    <a href="/trash/<%= file._id%>"><i
                                                                            class="ri-delete-bin-line"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                    </div>
                                <% }) %>
                                                 

                                        
                </div>
            
            </div>
          <% } %>
        
          <form id="mf1" action="/upload" method="post"
            enctype="multipart/form-data">

            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple
                    files input example</label>
                <input id="file" name="filename" class="form-control"
                    type="file" id="formFileMultiple" multiple>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">

      </form>
            
            <div class="createfolder">
                <h5>New folder</h5>
                <form action="/createfolder" method="post">
                    <input type="text" placeholder="Untitled folder" name="folders">
                    <div class="buttons">
                        <a id="cancel" href="/home">
                            cancel
                        </a>
                        <button type="submit">
                            create
                        </button>
                    </div>
                </form>
            </div>
            <div id="updatefolder" class="createfolder">
                <h5>Rename</h5>
                <form action="/uploadFolder" method="post">
                    <input type="text" placeholder="Untitled folder" name="foldername">
                    <div class="buttons">
                        <a id="cancel" href="/home">
                            cancel
                        </a>
                        <button style="letter-spacing: 1px;margin-left: 10px;margin-right: 10px;" type="submit">
                            Ok
                        </button>
                    </div>
                </form>
            </div>
             <% include ./partials/sidenav.ejs %>

        </div>
        <div class="hvr">
            <div class="card_f">
                <a id="cf" href="#">
                    <div class="cf">
                        <i class="ri-folder-add-line"></i>
                        New folder
                    </div>
                </a>

                <div class="uploads">
                    <a id="file_upload" href="#">
                        <div class="cf">
                            <i class="ri-file-upload-line"></i>
                            File upload
                        </div>
                    </a>
                    <a href="#">
                        <div class="cf">
                            <i class="ri-folder-upload-line"></i>
                            Folder upload
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <form id="mf" action="/uploadPrfl" method="post"enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple
                    files input example</label>
                <input id="pfile" name="pfilenames" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">

         </form>  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="../javascripts/script.js"></script>
    <script>

var flag = 0;
        document.querySelector(".new")
            .addEventListener("click", function () {
                if (flag === 0) {

                    document.querySelector(".hvr").style.opacity = 1;
                    document.querySelector(".hvr").style.top = "22%";
                    document.querySelector(".hvr").style.left = "1%";
                    flag = 1;
                }
                else {
                    document.querySelector(".hvr").style.opacity = 0;
                    flag = 0;
                }

            })

            
        // upldp
        document.querySelector("#file_upload")
            .addEventListener("click", function () {
                document.querySelector("#file").click();
            })
        document.querySelector("#file").addEventListener("change", function () {
            document.querySelector("#mf1").submit();
        })
       
        document.querySelector("#cf")
            .addEventListener("click", function () {
                if (flag === 0) {
                    document.querySelector(".createfolder").style.scale = 1;
                    flag = 1;
                }
                else {
                    document.querySelector(".createfolder").style.scale = 0;
                    flag = 0;
                }
        })

            document.querySelector("#camera")
        .addEventListener("click",function(){
          document.querySelector("#pfile").click();

        })
        document.querySelector("#pfile").addEventListener("change",function(){
           document.querySelector("#mf").submit();
        })

        document.querySelector(".profile")
        .addEventListener("click",function(){
            if(flag === 0){
                document.querySelector(".prf_card").style.display = "initial";
                flag = 1;
            }
            else{
                document.querySelector(".prf_card").style.display = "none";
                flag = 0;
            }
        })

     

        
    </script>
</body>

</html>