<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <!-- <link rel="stylesheet" href="../stylesheets/loco.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
    .side_nav {
        margin-top: 2vw;
    }

    #mydrive {
        background-color: transparent;
        margin-top: initial;

    margin-left: 5px !important;
    }
    #mydrive:hover{
        background-color: #d8d4d4;
    }
    .hover_div {
        width: 11.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hover_div i {
        margin: initial;
    }

    #trash {
        background-color: #c3e6ff;
        margin-bottom: 5px;
    }
     #main{
        overflow: hidden !important;
     }
    .uploads {
        flex-direction: column;
        margin-top: 90px !important;
    }
    .head{
        margin-bottom: 10px;
    }
    .right_contant{
        height: 88vh !important;
        padding-top: 70px;
    }
    .head{
        position: fixed;
        top: 12%;
    }
    .unav{
        position: fixed;
        top: 29%;
        width: 80% !important;
        background-color: #fff;
    }
    .wrng{
        width: 78%;
        position: fixed;
        top: 19%;
    }
    .new{
        margin-left: 25px !important;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    #mydrive i{
    display: none;
 }
 .unav .r{
    width: 49% !important;
    padding: initial !important;
    padding-right: 50px !important;
 }
 .empty_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    width: 95%;
    height: 90%;
     margin-top: 50px;
 }
 .empty_div h6{
    font-size: 25px;
 }
 .empty_div p{
    font-size: 15px;
 }

 body{
    overflow: hidden;
 }
</style>

<body>
    <div id="main">
        <% include ./partials/nav.ejs %>

        <div class="contant">
            <% include ./partials/sidenav.ejs %>
            <div class="right_contant">
                <div class="head">
                    <div class="md">
                        <h3>Trash for My Drive</h3>
                    </div>

                    <div class="svgs">
                        <svg class="a-s-fa-Ha-pa c-qd" width="24px" height="24px" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M2,5v14h20V5H2z M14,7v4h-4V7H14z M4,7h4v4H4V7z M16,11V7h4v4H16z M4,17v-4h4v4H4z M10,17v-4h4v4H10z M20,17 h-4v-4h4V17z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>

                    </div>
                </div>
                <div class="wrng">
                    <p>Items in trash are deleted forever after 30 days</p>
                    <a href="#">Empty trash</a>
                </div>
                <% if((user.trash.length === 0)&&(user.trashFolder.length === 0)){ %>
                      <div class="empty_div">
                           <div class="emptyimg">
                                <img src="https://ssl.gstatic.com/docs/doclist/images/empty_state_trash_v3.png" alt="">
                           </div>
                                  <h6>Nothing in Trash</h6>
                                  <p>Move items you dont need to Trash.Items will be deleted forever after 30 days.</p>
                      </div>
                <% }else{ %>
                    <div class="uploads">
                        <div class="unav">
                            <div class="l">
                                <h6>Name</h6>
                            </div>
                            <div class="r">
                                <h6>Owner</h6>
                                <div class="lm">
                                    <h6>Trashe...</h6>
                                    <i class="ri-arrow-down-s-fill"></i>
                                </div>
                                <div class="fs">
                                    <h6>File size</h6>
                                </div>
                            </div>
                        </div>
                        <% user.trashFolder.forEach(function(elem){ %>

                            <div class="upldrow">
                                <div class="l">
                                    <div class="fimg">
                                        <a href="#">
                                            <svg height="24px" width="24px" focusable="false" viewBox="0 0 24 24"
                                                fill="#5f6368" class="a-s-fa-Ha-pa">
                                                <g>
                                                    <path
                                                        d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
                                                    </path>
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                    <h6>
                                        <%= elem.folderName %>
                                    </h6>
                                </div>
                                <div class="r">
                                    <h6>me</h6>
                                    <h6>
                                        heyy
                                    </h6>
                                    <div class="fs">
                                        <h6>
                                            1MB
                                        </h6>
                                        <div class="hover_div">
                                            <div id="mydrive" class="row">
                                                <div class="icon">
                                                    <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24"
                                                        fill="#000000" focusable="false">
                                                        <path
                                                            d="M19 2H5C3.9 2 3 2.9 3 4V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V4C21 2.9 20.1 2 19 2ZM19 20H5V19H19V20ZM19 17H5V4H19V17Z">
                                                        </path>
                                                        <path
                                                            d="M13.1215 6H10.8785C10.5514 6 10.271 6.18692 10.0841 6.46729L7.14019 11.6075C7 11.8878 7 12.215 7.14019 12.4953L8.26168 14.4579C8.40187 14.7383 8.72897 14.9252 9.05608 14.9252H15.0374C15.3645 14.9252 15.6449 14.7383 15.8318 14.4579L16.9533 12.4953C17.0935 12.215 17.0935 11.8878 16.9533 11.6075L13.9159 6.46729C13.7757 6.18692 13.4486 6 13.1215 6ZM10.1776 12.0748L12.0467 8.8972L13.8692 12.0748H10.1776Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <h6>My Drive</h6>
                                            </div>
                                            <a href="/restorefolder/<%= elem._id %>">
                                                <i class="ri-restart-line"></i></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% user.trash.forEach(function(elem){ %>
                                    <% var update=elem.createdAt %>
                                        <% var picSize=((Math.round(elem.picSize) / 100000).toFixed(1)) %>
                                            <% dateString=update.toDateString(); %>
                                                <div class="upldrow">
                                                    <div class="l">
                                                        <% if(elem.ext==="jpg" ){ %>
                                                            <div class="fimg">
                                                                <a href="#">
                                                                    <img src="<%= elem.pic %>"
                                                                        alt="">
                                                                </a>
                                                            </div>
                                                            <% } %>
                                                            <% if(elem.ext==="png" ){ %>
                                                                <div class="fimg">
                                                                    <a href="#">
                                                                        <img src="<%= elem.pic %>"
                                                                            alt="">
                                                                    </a>
                                                                </div>
                                                                <% } %>
                                                                <% if(elem.ext==="webp" ){ %>
                                                                    <div class="fimg">
                                                                        <a href="#">
                                                                            <img src="<%= elem.pic %>"
                                                                                alt="">
                                                                        </a>
                                                                    </div>
                                                                    <% } %>
                                                                <% if(elem.ext==="mp4" ){ %>
                                                                    <div class="fimg">
                                                                        <a href="#">
                                                                            <video src="<%= elem.pic %>"></video>
                                                                        </a>
                                                                    </div>
                                                                <% } %>
                                                                <% if(elem.ext==="txt" ){ %>
                                                                            <div class="fimg">
                                                                                <a href="#">
                                                                                    <img src="https://drive-thirdparty.googleusercontent.com/32/type/text/plain"
                                                                                        alt="">
                                                                                </a>
                                                                            </div>
                                                                <% } %>
                                                                <% if(elem.ext==="pdf" ){ %>
                                                                                    <div class="fimg">
                                                                                        <a href="#">
                                                                                            <img src="https://drive-thirdparty.googleusercontent.com/32/type/application/pdf"
                                                                                                alt="">
                                                                                        </a>
                                                                                    </div>
                                                                <% } %>
                                                                                        <h6>
                                                                                            <%= elem.originalName %>
                                                                                        </h6>
                                                    </div>
                                                    <div class="r">
                                                        <h6>me</h6>
                                                        <h6>
                                                            <%= dateString %>
                                                        </h6>
                                                        <div class="fs">
                                                            <h6>
                                                                <%= picSize %>MB
                                                            </h6>
                                                            <div class="hover_div">
                                                                <div id="mydrive" class="row">
                                                                    <div class="icon">
                                                                        <svg class=" c-qd" width="24px" height="24px"
                                                                            viewBox="0 0 24 24" fill="#000000"
                                                                            focusable="false">
                                                                            <path
                                                                                d="M19 2H5C3.9 2 3 2.9 3 4V20C3 21.1 3.9 22 5 22H19C20.1 22 21 21.1 21 20V4C21 2.9 20.1 2 19 2ZM19 20H5V19H19V20ZM19 17H5V4H19V17Z">
                                                                            </path>
                                                                            <path
                                                                                d="M13.1215 6H10.8785C10.5514 6 10.271 6.18692 10.0841 6.46729L7.14019 11.6075C7 11.8878 7 12.215 7.14019 12.4953L8.26168 14.4579C8.40187 14.7383 8.72897 14.9252 9.05608 14.9252H15.0374C15.3645 14.9252 15.6449 14.7383 15.8318 14.4579L16.9533 12.4953C17.0935 12.215 17.0935 11.8878 16.9533 11.6075L13.9159 6.46729C13.7757 6.18692 13.4486 6 13.1215 6ZM10.1776 12.0748L12.0467 8.8972L13.8692 12.0748H10.1776Z">
                                                                            </path>
                                                                        </svg>
                                                                    </div>
                                                                    <h6>My Drive</h6>
                                                                </div>
                                                                <a href="/restore/<%= elem.id %>">
                                                                    <i class="ri-restart-line"></i></i></a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>

                    </div>
               <%  } %>
                
            </div>
            <div class="createfolder">
                <h5>New folder</h5>
                <form action="/createfolder">
                    <input type="text" placeholder="Untitled folder" name="foldername">
                    <div class="buttons">
                        <a id="cancel" href="#">
                            cancel
                        </a>
                        <button type="submit">
                            create
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="popup">
            <h5>Delete forever?</h5>
            <p>All items in the terash will be deleted forever and you won't to be able to restore them.</p>
            <div class="buttons">
                <a href="/trash">
                    Cancel
                </a>
                <div class="buttond">
                    <a href="/deletefolder">
                        Delete forever
                    </a>
                </div>
            </div>
        </div>
        
        <div class="hvr">
            <div class="card_f">
                <a id="cf" href="#">
                    <div class="cf">
                        <i class="ri-folder-add-line"></i>
                        New folder
                    </div>
                </a>
                <div class="createfolder">
                    <h5>New folder</h5>
                    <form action="/createfolder" method="post">
                        <input type="text" placeholder="Untitled folder" name="folders">
                        <div class="buttons">
                            <a id="cancel" href="/home">
                                cancel
                            </a>
                            <button type="submit">
                                create
                            </button>
                        </div>
                    </form>
                </div>
                <div class="uploads">
                    <a id="file_upload" href="#">
                        <div class="cf">
                            <i class="ri-file-upload-line"></i>
                            File upload
                        </div>
                    </a>
                    <a href="#">
                        <div class="cf">
                            <i class="ri-folder-upload-line"></i>
                            Folder upload
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <form id="mf" action="/uploadPrfl" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple
                    files input example</label>
                <input id="pfile" name="pfilenames" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>
    </div>
    <script>
        document.querySelector(".wrng a")
            .addEventListener("click", function () {
                document.querySelector(".popup").style.opacity = 1;
            })
        document.querySelector(".profile")
            .addEventListener("click", function () {
                if (flag === 0) {
                    document.querySelector(".prf_card").style.display = "initial";
                    flag = 1;
                }
                else {
                    document.querySelector(".prf_card").style.display = "none";
                    flag = 0;
                }
            })
        document.querySelector("#camera")
            .addEventListener("click", function () {
                document.querySelector("#pfile").click();

            })
        document.querySelector("#pfile").addEventListener("change", function () {
            document.querySelector("#mf").submit();
        })
        var flag = 0;
        document.querySelector(".new")
            .addEventListener("click", function () {
                if (flag === 0) {

                    document.querySelector(".hvr").style.opacity = 1;
                    document.querySelector(".hvr").style.top = "22%";
                    document.querySelector(".hvr").style.left = "1%";
                    flag = 1;
                }
                else {
                    document.querySelector(".hvr").style.opacity = 0;
                    flag = 0;
                }

            })

        document.querySelector("#cf")
            .addEventListener("click", function () {
                if (flag === 0) {
                    document.querySelector(".createfolder").style.scale = 1;
                    flag = 1;
                }
                else {
                    document.querySelector(".createfolder").style.scale = 0;
                    flag = 0;
                }
            })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="../javascripts/script.js"></script>
</body>

</html>